@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  list-style-type: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(214, 214, 214);
}

body {
  background: rgb(62, 62, 62);
}

a {
  text-decoration: none;
  color: rgb(214, 214, 214);
}

header {
  position: relative;
  background: rgb(35, 35, 35);
  height: 10vh;
  padding: 5px;
}

nav {
  display: flex;
  justify-content: space-around;
}

button {
  position: absolute;
  background: black;
  padding: 10px;
  cursor: pointer;
}

button:hover {
  background: rgb(66, 66, 66);
}



nav ul {
  visibility: visible;
  width: 80%;
  display: flex;
  justify-content: space-around;
  margin: 10px 0;
}

li {
  background: rgb(0, 0, 0);
  width: 20%;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  cursor:pointer;
}

li:hover {
  background:grey;
}

#menu li.active {
  background-color: #ccc;
  color:black;
}

section {
  height: 90vh;
  display: flex;
}

.pages {
  width: 20%;
  margin: 5px;
}

.pages.active {
background:red;
}

.pagesjs {
  width: 100%;
  margin: 5px;
}

h1 {
  width: 100%;
  text-align: center;
  padding: 5px;
}

.contenu {
  background: black;
  height: 82vh;
  padding: 5px;
}

#tableau1 {
  border: 1px solid white;
  border-collapse: collapse;
  margin: 10px auto;
  cursor:pointer;
}

#tableau1 td {
  border: 1px solid white;
  padding: 10px;
}

#img {  
  display:flex;
  justify-content: center;
}

fieldset {
  padding: 5px;
}

fieldset div {
  margin: 5px;
}

fieldset input {
  color: black;
}
#btnAdd {
  padding: 5px;
  background: rgb(56, 16, 23);
  color: white;
  cursor: pointer;
}

#table table {
  width: 100%;
  border: 1px solid white;
  margin-top: 10px;
}

#table tr:nth-child(odd) {
  background: rgb(56, 16, 23);
}

h2 {
  padding: 5px;
  text-align: center;
}

select {
  margin: 5px;
  color: black;
}

option {
  color: black;
}


h4 {
  padding: 60px 5px 5px 5px;

  color: rgb(252, 191, 252);
}

p {
  padding: 5px;
  max-height: 330px;
  overflow: auto;
}

#page4 li {
  width: 100%;
  background: rgb(19, 19, 51);
  padding: 5px;
  margin: 5px 0px;
}

#page4 input {
  cursor: pointer;
  margin: 5px 0;
  padding: 5px;
  background: rgb(76, 76, 159);
}
